@page
@model IndexModel
@{
    ViewData["Title"] = "Cửa Hàng Súng";
}

<div class="text-center">
    <h1 class="display-4">Phan Mem Quan Ly San Pham</h1>
    <a href="MH_HienThiDanhSach"><botton>Danh Sach San Pham</botton></a>
    <a href="MH_ThemSanPham"><botton>Them San Pham</botton></a>
    @* <a href="MH_XoaSanPham"><botton>Xoa San Pham</botton></a>
    <a href="MH_CapNhapSanPham"><botton>Cap Nhap San Pham</botton></a> *@
   
</div>
